
.heroImage {
    height: auto;
    padding: 150px 0px 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../../public/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .heroContainer{
    display: flex;
    align-items: flex-end;
    margin: 0px auto;
    width: 90%;
    max-width: 1275px;
    flex-direction: column;
    box-sizing: content-box;
  }
  
  .heroContext{
    padding: 50px;
    align-items: flex-start;
    max-width: 516px;
    box-sizing: border-box;
    background: rgba(28, 28, 30, 0.9);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
    color: #fff;
  }
  
  .heroTitle{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.2;
    text-transform: none;
    margin: 0px;
    font-size: 36px;
  }
  
  .heroP {
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-family: "DM Sans";
    text-transform: none;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
  }
  
  .quotesBtn{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .quotesDiv{
    height: 50px;
  }
  
  .quotesBtnDiv{
    border-radius: 25px;
    border: 2px solid rgb(247, 203, 69);
    height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    transition: all 0.2s ease-out 0s;
    touch-action: manipulation;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(247, 203, 69);
    box-shadow: none;
    padding: 12px 30px;
  }
  
  .btnText{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    color: rgb(28, 28, 30);
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    transition: all 0.2s ease-out 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  