.popularProduct {
    background-color: rgb(249, 249, 249);
}

.popularProduct h3{
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    font-size: 28px;
    padding-top: 100px;
}

.scrollmenu {
    width: 100%;
    margin-top: auto;
    padding: 50px 0px;
    -webkit-box-align: center;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar{
    display: none;
}

.row {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-out 0s;
    margin: 0 10px;
    cursor: pointer;
}
  
.row:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px;
    background-color: rgb(255, 255, 255);
    height: calc(100% + 20px);
}

img {
    width: 100%;
    height: 100%;
}

.measurement {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 700;
}

.sku {
    color: rgb(141, 141, 141);
    font-family: "DM Sans";
    text-transform: uppercase;
    margin: 0px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
}

.price {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-weight: 700;
    font-size: 20px;
}

.details {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 25px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* popular products styles */

.popularProducts{
    padding-bottom: 50px;
    width: 100%;
    margin-top: auto;
    padding: 100px 0px;
    background-color: rgb(249, 249, 249);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .popHeadingDiv{
    text-align: center;
    width: 90%;
    max-width: 1275px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
    margin: 0 auto;
  }
  
  .popHeadingDiv h3{
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.2;
    text-transform: none;
    margin: 0px;
    font-size: 28px;
  }
  
  .gNJvAP {
    position: relative;
    width: 100%;
  }
  
  .bhdLno {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .bGjmkd {
    width: 100%;
    padding: 50px 0px;
    scroll-behavior: smooth;
  }
  .indiana-scroll-container {
    overflow: auto;
  }
  
  .kGuuCb .indiana-scroll-container > .sc-gsTCUz:first-of-type {
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .kBOEFC {
    box-sizing: border-box;
    width: max-content;
    min-width: 100%;
    gap: 20px;
    padding: 0px calc((100% - 1275px) / 2);
    display: flex;
    justify-content: center;
  }
  
  .jwIrcu {
    width: 300px;
  }
  
  .grsaJH:link, .grsaJH:visited, .grsaJH:hover, .grsaJH:active {
    color: inherit;
  }
  
  .grsaJH {
    text-decoration: none;
    color: inherit;
  }
  
  .dEcYjv {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-out 0s;
  }
  
  .cIKpxU {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .eMijpD {
    padding-bottom: 100%;
    height: 0px;
  }
  
  .eoPaIm {
    width: 100%;
    height: 100%;
  
  }
  
  .fHFdtO {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
  }
  .gTLZXx {
    flex: 1 1 0%;
  }
  
  .dXwZsU {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 25px 15px 15px;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .cIKpxU {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .cIKpxU {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .cWGOwq {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 700;
  }
  
  .gOuDOV {
    width: 100%;
    height: 5px;
  }
  
  .gKTGjT {
    color: rgb(141, 141, 141);
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
  }
  
  .cIKpxU {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: content-box;
  }
  
  .kvraIO {
    gap: 6px;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .dljKfj {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-weight: 700;
    font-size: 20px;
  }
  
  .jHlPUB {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .gTLZXx {
    flex: 1 1 0%;
  }
  
  .gmzLtL {
    padding: 10px;
    border-radius: 20px;
    cursor: default;
    user-select: none;
    touch-action: manipulation;
  }
  
  .gdsrAv {
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .gTLZXx {
    flex: 1 1 0%;
  }
  
  .iXQHrd {
  padding: 0px 16px;
  width: 100px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out 0s;
  white-space: nowrap;
  overflow: hidden;
  }
  
  .kPwfsx {
  background-color: rgb(247, 203, 69);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  min-width: 40px;
  }
  
  .gdsrAv {
  box-sizing: border-box;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  }
  
  .iDHATf {
    min-width: 24px;
  }
  
  .cWGOwq {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 700;
  }
  
  .iXQHrd .sc-hOqqkJ:last-of-type {
    display: none;
  }
  
  .cWGOwq {
    color: inherit;
    font-family: "DM Sans";
    text-transform: none;
    margin: 0px;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 700;
  }
  
  .sc-hOqqkJ.cWGOwq.show {
    display: block;
  }
  
  .dEcYjv:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 25px;
    background-color: rgb(255, 255, 255);
    height: calc(100% + 20px);
  }
  
  .hovered{
    width: 170px;
  }
  