.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header styles */

.headerContainer{
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(18, 133, 110);
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  -webkit-box-align: center;
}

.headerContent{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  box-sizing: content-box;
  flex: 1 1 0%;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-box-align: stretch;
}

.headerText{
  display: block;
}

.headerText p{
  color: rgb(255, 255, 255);
  font-family: "DM Sans";
  font-weight: 400;
  margin: 0px;
  font-size: 16px;
  line-height: 1.7;
  padding-top: 0;
  padding-bottom: 0;
}